---
import HeadComponent from "../../components/HeadComponent.astro";
import Navbar from "../../components/Nav/Navbar.astro";
import FooterComponent from "../../components/FooterComponent.astro";
import LanguageSelectionModal from "../../components/LanguageSelectionModal.astro";
import CookieConsentModal from "../../components/CookieConsentModal.astro";
import "../../styles/404.scss"

// Translation
import { initI18n } from "../../i18n";
import { setupI18n } from "../../utils/language-utils";

function getLocalizedPath(key: string) {
    const currentLang = i18n.language;
    const basePath = i18n.t(key);

    // Ensure basePath does not start with a slash to prevent double slashes
    const normalizedBasePath = basePath.startsWith("/")
        ? basePath.slice(1)
        : basePath;

    return `/${currentLang === "en" ? "" : currentLang + "/"}${normalizedBasePath}`;
}

interface Props {
    title: string;
}

const { title } = Astro.props;
const lang = setupI18n(Astro.url.pathname);
const i18n = await initI18n();

i18n.changeLanguage(lang);
---

<html lang={lang}>
    <head>
        <!--
        Author: Tobias Norheim
        Note: Snarveien

        "For God so loved the world,
        that he gave his only Son, that
        whoever believes in him should
        not perish but have eternal life."
        - John 3:16
    -->

        <link rel="preload" href="/media/logo.svg" as="image" />

        <title>Bible Characters</title>

        <!-- meta tags -->

        <HeadComponent />

    </head>
    <body>

        <Navbar />

        <main>
            <img src="/media/characters/moses/hero.svg" alt="Illustration of Moses">
            <div class="text-wrapper">
                <h1>404 No Bible content found <span>:(</span></h1>
                <p>You landed on a page that doesn't exist.</p>
                <a class="navbar__logo btn" href={getLocalizedPath("")}>
                    Go to homepage
                </a>
            </div>
        </main>

        <FooterComponent />
    </body>
</html>

<script>
    // We don't need to import i18n here as we're not using it directly in the client-side code

    document.addEventListener("astro:language-change", (event) => {
        // Use type assertion to tell TypeScript about the structure of the event
        const customEvent = event as CustomEvent<{ lang: string }>;
        const newLang = customEvent.detail.lang;
        document.documentElement.lang = newLang;

        // Reload the page to apply the new language
        window.location.reload();
    });
</script>
