---
import Layout from "../../layouts/MainLayout.astro";
import ContactUs from "../../components/Contact/ContactUs.astro";
import { Image } from "astro:assets";
import "../../styles/extra-pages.scss";
import "../../styles/about-us.scss";

// Translation
import Trans from "../../components/Trans.astro";
import { initI18n } from "../../i18n";

const i18n = await initI18n();
---

<Layout title={i18n.t("title", { ns: "home" })}>
    <div class="container">
        <div class="hero-bg">
            <img
                src="/media/about-us/hero-bg.png"
                alt=""
                class="hero-bg__img"
            />
        </div>

        <div class="margin-wrapper flex-column">
            <section class="top-section flex-column">
                <h1>About Bible Characters</h1>
                <p>
                    Bible Characters is meant for you who want to learn who the
                    characters in the Bible were. We seek to make learning fun
                    and easy, even if you aren't a child anymore.
                </p>
                <p>
                    With Bible Characters you can search, click, and get all the
                    heavy information from the Bible summarized in short texts.
                    There are sections where you can learn fun facts and test
                    your knowledge with quizzes. If you want to delve deeper
                    into a character or an event, you can see where to find them
                    in the Bible below the texts or at the bottom of each
                    character page.
                </p>
                <p>
                    The number of characters in the Bible can be overwhelming,
                    so we suggest you start with some of the most significant
                    ones, like Jesus, Paul, Simon Peter or Moses. Happy
                    exploring!
                </p>
            </section>

            <section class="middle-section flex-column">
                <h2>The People behind the Thing</h2>

                <div class="creators">
                    <div class="creators__person">
                        <img
                            src="/media/about-us/profile-pic-helen-richard.png"
                            alt=""
                        />
                        <h3 class="creators__person__name">Helen Richard</h3>
                        <p class="creators__person__role">Writer</p>
                    </div>
                    <div class="creators__person">
                        <img
                            src="/media/about-us/profile-pic-tobias-norheim.jpg"
                            alt=""
                        />
                        <h3 class="creators__person__name">Tobias Norheim</h3>
                        <p class="creators__person__role">
                            Designer and developer
                        </p>
                    </div>
                </div>

                <div class="thanks-to flex-column">
                    <p>
                        We are a group of creative souls wanting to give our
                        best for God's kingdom. Despite not possessing the
                        greatest resources, we have made the best we could with
                        what we have.
                    </p>
                    <p>
                        We would also like to thank ... and more for great
                        support and valuable feedback!
                    </p>
                </div>
            </section>
        </div>
    </div>
</Layout>
