---
import Layout from "../../layouts/CharacterPages.astro";

// i18next translation
import MainLayout from '../../layouts/MainLayout.astro';
import { initI18n } from "../../i18n";
const i18n = await initI18n();
---


<Layout title={i18n.t('title', { ns: 'home' })}>

    <h1>John</h1>

    <input type="checkbox" id="section1-john" />
    <input type="checkbox" id="section2-john" />
    

    <div class="progress-wrapper">
        <p>Progress: <span id="progress-john-text">0%</span></p>
        <div class="progress-bar-container">
            <div id="progress-john-bar" class="progress-bar"></div>
        </div>
    </div>

</Layout>