---
import HeadComponent from "../components/HeadComponent.astro";
import "../styles/tentmaker.scss";
---

<html lang="en">
    <head>
        <!--
        Author: Tobias Norheim
        Note: Snarveien

        "For God so loved the world,
        that he gave his only Son, that
        whoever believes in him should
        not perish but have eternal life."
        - John 3:16
    -->

        <title>Bible Characters</title>

        <!-- meta tags -->

        <HeadComponent />
    </head>
    <body>
        <main>
            <div class="container">
                <p>
                    You are still on <a href="/">Bible Characters</a>, no worries.
                    <br />
                    <br />
                    tentmaker.exe
                </p>
                <br />
                <p>Author note</p>
                <input type="text" />
                <button>Submit</button>
                <br />
                <br />
                <p>Die 5 in this game</p>
                <img src="/media/tentmaker/game.png" alt="">
                <input type="text" />
                <button>Submit</button>
                <br />
                <br />
                <p>Personal completion password</p>
                <input type="text" />
                <button>Submit</button>

                <br />
                <br />
                <button>Enter the unknown</button>


                <!-- Liste over alle som har løst gåten når man har fullført den? -->
            </div>
        </main>
    </body>
</html>
