<form onsubmit="sendEmail(); reset(); return false;" class="fade-in-left">
    <div>
        <input
            autocomplete="on"
            type="text"
            id="name"
            placeholder="Name"
            required
        />
        <input
            autocomplete="on"
            type="email"
            id="email"
            placeholder="Email"
            required
        />
    </div>
    <textarea id="message" rows="7" placeholder="Message"></textarea>
    <button type="submit">Submit</button>
</form>

<style lang="scss">
    @import "/src/styles/mixins";
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35rem;
        gap: 1rem;

        div {
            display: flex;
            width: 100%;
            gap: 1rem;

            input {
                width: 100%;
            }
        }

        input,
        textarea {
            outline: none;
            border: none;
            border-bottom: 2px solid var(--secondary-clr);
            background-color: transparent;
            border-radius: none;
            font-weight: 500;
            font-size: var(--fs-large);
        }

        textarea {
            width: 100%;
            resize: none;
            margin-bottom: 1rem;
        }

        button {
            @include button-styles(accent-clr-2);

            & {
                width: 50%;
                min-width: max-content;
                color: var(--primary-clr);
                padding: 0.5em;
                text-align: center;
                border-radius: 0.5rem;
                font-weight: 500;
                font-size: var(--fs-large);
                transition: 0.1s;
            }
        }
    }

    @media screen and (max-width: 760px) {
        form {
            width: 80%;

            div {
                flex-direction: column;

                input {
                    margin: 1rem 0;
                }
            }

            input,
            textarea {
                font-size: var(--fs-medium);
            }
        }
    }
</style>

<script src="https://smtpjs.com/v3/smtp.js"></script>

<script src="../../scripts/contact-form.js"></script>
