---
import { i18n } from "../i18n";
import Trans from "../components/Trans.astro";

function getLocalizedPath(key: string) {
    const currentLang = i18n.language;
    const basePath = i18n.t(key);

    // Ensure basePath does not start with a slash to prevent double slashes
    const normalizedBasePath = basePath.startsWith("/")
        ? basePath.slice(1)
        : basePath;

    return `/${currentLang === "en" ? "" : currentLang + "/"}${normalizedBasePath}`;
}
---

<div class="wave-wrapper">
    <img class="wave" src="/media/footer-wave.svg" alt="Footer wave" />
</div>

<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__nav-wrapper">
            <nav>
                <h4>
                    <a class="footer__logo" href={getLocalizedPath("")}>
                        <img src="/media/logo.svg" alt="Logo" />
                    </a>
                    <span>Bible Characters</span>
                </h4>
                <ul>
                    <li>
                        <a href={getLocalizedPath("")}>
                            <Trans key="links:home" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-family-tree")}>
                            <Trans key="links:familyTree" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-characters")}>
                            <Trans key="links:characters" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-about")}>
                            <Trans key="links:aboutUs" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-beliefs")}>
                            <Trans key="links:ourBeliefs" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-contact")}>
                            <Trans key="links:contactUs" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-how-it-works")}>
                            <Trans key="links:howItWorks" />
                        </a>
                    </li>
                    <li>
                        <a href={getLocalizedPath("links:url-privacy-policy")}>
                            <Trans key="links:privacyPolicy" />
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer__share">
            <h4><Trans key="links:shareText" /></h4>

            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_facebook_messenger"></a>
                <a class="a2a_button_linkedin"></a>
                <a class="a2a_button_reddit"></a>
                <a class="a2a_button_x"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"
            ></script>
            <!-- AddToAny END -->
        </div>
    </div>

    <div class="footer__rights">
        <p>
            © {new Date().getFullYear()}
            <Trans key="links:rightsReserved" />.
        </p>
    </div>
</footer>

<style lang="scss">
    .wave-wrapper {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        margin-bottom: -6px;

        .wave {
            width: 110vw;
            margin-left: -5vw;
        }
    }

    p,
    a {
        color: var(--primary-clr);
        font-weight: 300;
    }

    a:hover {
        text-decoration: underline;
    }

    .footer {
        width: 100%;
        background-color: var(--secondary-clr);

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 3rem;
        }

        &__nav-wrapper {
            display: flex;

            h4 {
                color: var(--primary-clr);
                font-size: 1.5rem;
                margin-left: 1rem;
                display: flex;
                align-items: center;

                .footer__logo {
                    margin: 0 0.5rem;
                    border-radius: 100px;
                    height: 3.5rem;

                    img {
                        width: 3.5rem;
                    }
                }
            }

            ul {
                list-style: none;
                margin-left: 6rem;
                line-height: 1.5rem;
            }
        }

        &__share {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: end;

            h4 {
                font-size: 1.5rem;
                color: var(--primary-clr);
                margin-top: 1.5rem;
            }

            .a2a_kit {
                filter: grayscale(0.25);
                display: flex;
                flex-wrap: wrap;
                row-gap: 0.2rem;
                justify-content: center;
            }
        }

        &__rights p {
            font-weight: 300;
            font-size: 0.8rem;
            text-align: center;
            padding: 0.5rem;
        }
    }

    @media screen and (max-width: 760px) {
        .footer {
            &__wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }

            &__nav-wrapper {
                h4 {
                    margin-bottom: 0.5rem;
                    margin-left: 0;

                    @media screen and (max-width: 420px) {
                        span {
                            width: min-content;
                        }
                    }
                }

                ul {
                    margin-left: 0;

                    li {
                        text-align: center;
                    }
                }
            }

            &__share {
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    margin-top: 0;
                }
            }

            &__.rights p {
                font-size: 0.6rem;
                width: 90%;
                margin: auto;
            }
        }
    }
</style>
