---
import DOMPurify from 'isomorphic-dompurify';

// Receive i18n as a prop
const { key, ns = 'common', i18n } = Astro.props;

// Check if i18n is provided
if (!i18n) {
  throw new Error('i18n instance not provided to Trans component');
}

const unsafeHtml = i18n.t(key, { ns });

const purifyConfig = {
  ALLOWED_TAGS: ['b', 'i', 'em', 'strong', 'a', 'p', 'br', 'ul', 'ol', 'li'],
  ALLOWED_ATTR: ['href', 'target']
};

const safeHtml = DOMPurify.sanitize(unsafeHtml, purifyConfig);
---

<span class="i18n-span" data-i18n-key={key} data-i18n-ns={ns} set:html={safeHtml}></span>

<script>
  document.addEventListener('astro:language-change', () => {
    window.location.reload();
  });
</script>