---
import { initI18n } from "../../i18n";
import { setupI18n } from "../../utils/language-utils";
import { getLocalizedPath } from "../../utils/route-translation";

const i18n = await initI18n();
const currentLang = setupI18n(Astro.url.pathname);
const currentPath = Astro.url.pathname;
---

<div class="lang-dropdown-wrapper">
    <div class="lang-dropdown">
        <button class="lang-dropdown__btn">
            <img src="/media/icons/lang-icon.svg" alt="Select language" />
        </button>
        <div class="lang-dropdown__content language-switcher">
            <a
                href={getLocalizedPath(currentPath, currentLang, "en")}
                hreflang="en"
                class="lang-dropdown__link"
                data-lang="en">English</a
            >
            <a
                href={getLocalizedPath(currentPath, currentLang, "no")}
                hreflang="no"
                class="lang-dropdown__link"
                data-lang="no">Norsk</a
            >
        </div>
    </div>
</div>

<script src="/src/utils/cookie-operations.js"></script>
<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const languageLinks = document.querySelectorAll(".lang-dropdown__link");

        languageLinks.forEach((link) => {
            link.addEventListener("click", (e) => {
                e.preventDefault();
                const lang = e.target.getAttribute("data-lang");
                localStorage.setItem("preferredLanguage", lang);
                window.cookieOperations.setCookie(
                    "preferredLanguage",
                    lang,
                    365,
                );
                window.location.href = e.target.href;
            });
        });
    });
</script>

<style lang="scss">
    @import "/src/styles/_mixins.scss";

    .lang-dropdown-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .lang-dropdown {
            position: relative;
            height: fit-content;

            &__btn {
                @include flex-center;
                background-color: var(--accent-clr-2);
                color: rgb(255, 255, 255);
                padding: 1em;
                font-size: 0.7rem;
                border: none;
                border-radius: 100px;
                cursor: pointer;
                height: 50px;
                width: 50px;

                &:hover {
                    background-color: var(--accent-clr-2-hover);
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            &__content {
                visibility: hidden;
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                background-color: #f9f9f9;
                min-width: 130px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-radius: 1rem;
                overflow: hidden;
                transition: ease-in 0.1s;
                transform-origin: top;
                scale: 0.8;
                opacity: 0;
            }

            &__link {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;

                &:hover {
                    background-color: var(--list-hover);
                }

                &:first-of-type {
                    border-bottom: 1px solid var(--list-division);
                }
            }

            &:hover .lang-dropdown__content {
                visibility: visible;
                scale: 1;
                opacity: 1;
            }
        }
    }
</style>
