---
const { path, text, anchorStyle, lineStyle } = Astro.props;
---

<li>
    <a class="navText" href={path}>{text}</a>
    <div class="hover-line"></div>
</li>

<style lang="scss">
    li {
        margin: 0.8rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        pointer-events: auto;

        a {
            color: var(--secondary-clr);
            height: 3rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-bottom: -2px; /*Compensation for hover line*/
        }

        .navTextVisible {
            color: var(--primary-clr);
            font-weight: 400;
        }

        .hover-line {
            height: 2px;
            width: 0%;
            transition: 0.3s;
            margin: left;
            background-color: var(--secondary-clr);
        }

        &:hover .hover-line {
            width: 100%;
        }

        .hoverLineVisible {
            background-color: var(--primary-clr);
        }
    }

    .navTextChange {
        color: var(--primary-clr);
        font-weight: 400;
    }
</style>
