---
import QuoteSlider from "./QuoteSlider.astro";
import Trans from '../../components/Trans.astro';
import { i18n } from '../../i18n';
import { getCharacterName } from "../../scripts/character-name-from-url.js";

const characterName = getCharacterName(Astro.url);
const currentLang = i18n.language;
---

<section class="char-hero">
    <div class="char-hero__character">
        <img
            src={`/media/characters/${characterName}/hero.svg`}
            alt={i18n.t(`character-${characterName}:heroImgAlt`)}
        />
    </div>
    <div class="char-hero__text-section">
        <div id="quotes" class="char-hero__quote-slider">
            <QuoteSlider />
        </div>

        <div class="char-hero__name-wrapper">
            <h1><Trans key={`character-${characterName}:heroTitle`} /></h1>
            <p><Trans key={`character-${characterName}:heroDescription`} /></p>
        </div>
    </div>

    <div class="char-hero__contents">
        <h4><Trans key="char-pages-general:contentsHeader1" /></h4>
        <ul>
            <!-- The 'data-target' + hero-char-page.js ensures that if a component on the page (with that ID) isn't there, the corresponding 'li' won't display. -->
            <li data-target="quotes">
                <a href="#quotes">
                    <Trans key="char-pages-general:contentsQuotes" />
                </a>
            </li>
            <li data-target="swipe-story">
                <a href="#swipe-story">
                    <Trans key="char-pages-general:contentsSwipeStory" />
                </a>
            </li>
            <li data-target="important-events">
                <a href="#important-events">
                    <Trans key="char-pages-general:contentsImportantEvents" />
                </a>
            </li>
            <li data-target="fun-facts">
                <a href="#fun-facts">
                    <Trans key="char-pages-general:contentsFunFacts" />
                </a>
            </li>
            <li data-target="quiz">
                <a href="#quiz">
                    <Trans key="char-pages-general:contentsQuiz" />
                </a>
            </li>
            <li data-target="where-find-them">
                <a href="#where-find-them">
                    <Trans key="char-pages-general:contentsWhereFindThem" />
                </a>
            </li>
            <li data-target="further-reading">
                <a href="#further-reading">
                    <Trans key="char-pages-general:contentsFurtherReading" />
                </a>
            </li>
        </ul>
    </div>

    <div class="char-hero__cloud">
        <img src="/media/char-pages-misc/hero-cloud.svg" alt="Cloud" />
    </div>

    <button class="char-hero__arrow" aria-label="Scroll down">
        <img src="/media/icons/arrow.svg" alt="" />
    </button>
</section>

    <div class="char-hero__cloud">
        <img src="/media/char-pages-misc/hero-cloud.svg" alt="Cloud" />
    </div>

    <button class="char-hero__arrow" aria-label="Scroll down">
        <img src="/media/icons/arrow.svg" alt="" />
    </button>
</section>

<style lang="scss">
    * {
        /* outline: 1px solid yellow; */
        color: var(--secondary-clr);
    }

    .char-hero {
        display: flex;
        height: 100vh;
        height: 100svh;
        align-items: flex-end;
        overflow: clip;

        &__character {
            height: 100%;
            width: 30%;
            min-width: fit-content;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-top: 10vh; /* Avoid the navbar */
            padding-bottom: 3rem;
            padding-left: 3rem;
            overflow-y: hidden; /* avoid weird overflow of image on iOS */

            img {
                height: 100%;
            }
        }

        &__text-section {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }

        &__name-wrapper {
            margin: 3rem 0;

            h1 {
                font-size: 5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        &__contents {
            background-color: var(--tertiary-clr-2);
            list-style-position: inside;
            height: fit-content;
            width: 14rem;
            padding: 1.5rem;
            border-radius: 1.5rem;
            position: absolute;
            top: 7rem;
            right: 2rem;

            h4 {
                font-weight: 600;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        &__cloud {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1000;

            img {
                height: 70vh;
                max-height: 700px;
            }
        }

        &__arrow {
            position: absolute;
            bottom: 8rem;
            right: 15%;
            width: 4rem;
            height: 4rem;
            border-radius: 5rem;
            border: none;

            &:hover {
                background-color: var(--alt-primary-clr);
                cursor: pointer;
            }

            img {
                width: 100%;
                padding: 0.9rem;
            }
        }

        &__quote-slider {
            margin-left: 2rem;
        }
    }

    @media screen and (max-width: 1200px) {
        .char-hero {
            &__quote-slider {
                margin: 0;
            }

            &__cloud img {
                height: 60vh;
            }

            &__arrow {
                right: 5rem;

                &:hover {
                    background-color: transparent
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .char-hero {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            &__character {
                padding-bottom: 0;
            }

            &__quote-slider {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-block: 3rem;
                margin-inline: var(--marg-inline-lg);

                @media screen and (max-width: 420px) {
                    margin-inline: var(--marg-inline-sm);
                }
            }

            &__name-wrapper {
                margin: 1rem 3rem;
            }

            &__cloud img {
                height: 55vh;
            }
        }
    }

    @media screen and (min-width: 1000px) and (max-width: 1320px) and (orientation: portrait) {
        .char-hero__arrow {
            bottom: 5rem;
            right: 47vw;
        }
    }

    @media screen and (max-width: 760px) {
        .char-hero {
            &__character {
                width: 100%; /* Fix weird issue on iOS of image being placed on the right instead of center */
                padding-top: clamp(80px, 10vh, 200px); /* Avoid the navbar */
                padding-left: 0;
            }

            &__name-wrapper {
                margin: 0 1.5rem 1rem 1.5rem;

                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: var(--fs-large);
                }
            }

            &__cloud img {
                height: 40vh;
            }

            &__contents {
                display: none;
            }

            &__arrow {
                bottom: 8rem;
                right: 2rem;
                width: 3.3rem;
                height: 3.3rem;
            }

            &__arrow img {
                padding: 0.5rem;
            }
        }
    }

    @media screen and (max-height: 500px) and (orientation: landscape) {
        .char-hero {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;

            &__character {
                width: auto;
                padding-left: 1.5rem;
                padding-bottom: 1rem;
            }

            &__contents {
                display: none;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .char-hero {
            &__name-wrapper {
                margin: var(--marg-inline-sm);
            }

            h1 {
                font-size: 3rem;
            }
        }
    }
</style>

<script src="/src/scripts/char-pages/hero-char-page.js"></script>
